<form [formGroup]="form">
    <div class="form-group">
        <label>old password</label>
        <input formControlName="oldPassword" type="password" class="form-control">
        <div *ngIf="oldPassword.touched && oldPassword.invalid" class="alert alert-danger">
          <div *ngIf="oldPassword.errors.required">Required!</div>
          <div *ngIf="oldPassword.errors.invalidOldPassword">Wrong!</div>
        </div>
    </div>
    <div class="form-group">
        <label>new password</label>
        <input formControlName="newPassword" type="password" class="form-control">
        <div *ngIf="newPassword.touched && newPassword.invalid"
         class="alert alert-danger">
          <div *ngIf="newPassword.errors.required">
            Required!
          </div>
        </div>
    </div>
    <div class="form-group">
        <label>confirm password</label>
        <input formControlName="confirmPassword" type="password" class="form-control">
        <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
         class="alert alert-danger">
          <div *ngIf="confirmPassword.errors.required">
            Required!
          </div>
        </div>
        <div *ngIf="confirmPassword.valid && form.invalid && form.errors?.passwordsShouldMatch"
         class="alert alert-danger">
          No match!
        </div>
    </div>
    <button class="btn btn-primary">submit</button>
    <p>{{ form.value | json }}</p>
</form>
