/* You can add global styles to this file, and also import other style files */

/* @import "~bootstrap/dist/css/bootstrap.css"; */
@import "~glyphicons-only-bootstrap/css/bootstrap.css";
@import "~bootstrap-material-design/dist/css/bootstrap-material-design.css";

body {
    padding: 20px;
}

.even {
    background: #fee;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}
